<!DOCTYPE html>
<html>
  <head>
    <title>Cookies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>


    <h1>Please Login to receive Unique Cookie</h1>


  <form name="login">
      <div class="title">Enter Login Info</div>
      <input type="email" name="email" placeholder="email"/>
      <input type="password" name="password" placeholder="password"/>
      <input class="loginButton" type="submit" value="Login"/>
  </form>


    <script src="/javascripts/Login.js"></script>
  </body>
</html>
